body{
    
    font-family: 'Segoe ui, sans-serif';
    background-color: linear-gradient(to top, #f8f9fa, #e9ecef);
    color: #333;
    padding: 30px;
    height: 100vh;  
    align-items: center;
}
.bigbasket {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    padding : 10px 20px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    gap: 15px;
}
.search-container {
    position: relative;
    width: 100%;
    max-width: 400px; 
}
  
.search-container i {
    position: absolute;
    top: 50%;
    left: 12px;
} 
.search-bar {
  display: flex;                         
  align-items: center;                  
  border: 2px solid rgb(150, 146, 146);
  border-radius: 8px;
  padding: 0 10px;
  height: 35px;
  background-color: white;
}

.search-bar i {
  margin-right: 8px;                     
  color: gray;
}

.search-input {
  border: none;
  outline: none;
  font-size: 14px;
}

.login{
    background-color: black;
    border-radius: 8px;
    color: white;
    width: 9%;
    cursor: pointer;
}
.navlinks {
    display: flex;
    flex-grow:1;
    justify-content: space-between;
    gap: 20px;
    margin-left: auto;
    
}
.navlinks a, .more{
    color: black;
    text-decoration: none;
    position:relative;
    top: 35px;
    border: 2px solid white;
    box-sizing: border-box;
    height: fit-content;
}
.navlinks a:hover {
    background-color: #f17575; 
    color: white;              
    transition-property: background-color, color, border-color; 
    transition-duration: 3s;
    cursor: pointer;           
  }
  
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
.view-all{
    position: relative;
    cursor: pointer;
}
.logo{
   max-width: 100px;
   max-height:100px;
   background-color: white;
   cursor: pointer;

}
.category {
    background-color: #7ebf35;
    color: white;
    padding: 4px 6px;
    border-radius: 4px;
    font-size: 12px;
    cursor: pointer;
    width: 150px;
}
.search-box {
    flex: 1;
    padding: 8px 12px;
    width: 100%;
    text-align: left;
}
.location {
    background-color: rgb(243, 239, 239);
    border: 1px solid #ccc;
    padding: 8px 10px;
    border-radius: 4px;
    cursor: pointer;
}
.container{
    display: flex;
    gap: 20px;
    padding:10px;
    justify-content: space-between; 
    flex-wrap: nowrap;              
    overflow-x: auto;
    background-color: rgb(246, 249, 252);
    height: auto;
}
h1{
    margin-left: 20px;
    font-size: 28px;
    margin-bottom: 20px;
    }
h2{
        font-size: 20px;
        font: arial;
        margin: 10px 0 5px;
  
    }
.home{
        width: 65px;
        height: 25px;
        position: relative;
        top: 35px;

    }
      
.card{
    width: 300px;
    height: fit-content;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    position: relative;
    justify-self: space-between;
}
.weight,.weight1{
    font-size: 14px;
    color: #0c0c0c;
    background-color: #fbfcfb;
    margin-bottom: 10px;
    border: 2px solid #adafac;
    border-radius: 5px;
    width: 100%;
    height: 30px;
    text-align:left;
}


.badge{
    position: absolute;
    background-color: #53965e;
    color: white;
    padding: 5px 5px;
    border-radius: 5px;
    font-size: 12px;
    top: 10px;
    left:10px;
}
.before{
    position:relative;
    bottom: 2px;
    
}
.image{
    width: 100%;
    height: auto;
    margin-bottom: 10px;
cursor: pointer;
}
.offer{
    font-size: 14px;
    color: #18442c;
    background-color: #c1f793;
    margin-bottom: 10px;
    border: 2px solid #b0f389;
    border-radius: 5px;
    width: 100%;
    height: 30px;

}
.card p {
    margin-bottom: 4px;
  }
  
  .card h2 {
    margin-top: 2px; 
  }
  

.add{
    background-color: white;
    color: rgb(238, 5, 5);
    padding: 6px 10px;
    border-radius: 5px;
    font-size: 14px;
    border: 2px solid rgb(129, 38, 38);
    cursor: pointer;
    width: 80%;
    
}
.add-to-cart,.add{
    padding: 6px 10px;
    cursor: pointer;
}
.add-to-cart{
    border-radius: 5px;
    border: #ccc8c8 solid 2px;
    background-color: white;
}
.footer {
    background-color: #1b1b1b;
    color: white;
    padding: 40px 20px;
    font-family: sans-serif;
  }
.adimg{
    width: 50%;
    height: auto;
    object-fit: cover;
  
  }
.slider-container{
    overflow:hidden;
  }
.slides{
    display: flex;
    width: 400%;
    animation: slides 10s ease-in-out infinite;

 }  

.details{
    width: 100%;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 1.6;
    box-sizing: border-box;
  
  }
.footercontainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;

  }
  
.footer-content {
    flex: 1 1 200px;
    min-width: 200px
  }
  
h3,h4{
    font-size: 16px;
    margin-bottom: 10px;
    color: #fff;
  }
.list,.list2 {
    list-style: none;
    padding: 5px 0;
  }
.list li ,.list2 li{
    margin-bottom: 5px;
    font: 1em sans-serif;
    padding-bottom: 5px;
  }
h4,.list2{
    position: relative;
    bottom: 80px;
  }
.img1{
    width: 100px;
    height:50px;
  }
.img2{
        width: 250px;
        height:50px;
        }
.footer-images{
        position: relative;
        bottom: 100px;
           
        }
@keyframes slides {
    0% { transform: translateX(0); }
    100% { transform: translateX(-75%); }
  
} 
@media (max-width: 600px) {
    .container {
      flex-wrap: wrap;
      justify-content: center;
    }
  
    .card {
      width: 90%; 
      margin-bottom: 20px;
      border: 2px solid green;

    }
  
    .navlinks {
      flex-direction: column;
      gap: 10px;
      align-items: flex-start;

    }
    .search-box,
    .location {
      width: 100%;
      margin: 5px 0;
    }

    .login{
      width:5%;
      color: red;
    }
  
    .bigbasket ,.footer{
      flex-direction: column;
      align-items: flex-start;
    }
    .weight1{
      height: 50px;
    
        overflow-wrap: break-word;
      
      
    }
      
  }  